@model ParentViewModel

@{
    ViewData["Title"] = Model.name;
}

<form class="form-action" id="form" asp-action="POST" enctype="multipart/form-data">
    @{
        foreach (var element in Model.listChilds)
        {
            <div>
                <input asp-for="@element.File" type="file" name="@element.File" />
            </div>
            <div>
                @Html.TextAreaFor(m => element.Description)
            </div>
        }
    }
    <input type="submit" />
</form>
